body {
  text-align: center;
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

div#list.todo {
  padding: 10px 10px 10px 10px;
}

li {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: #ffffff;
  background: #f80303;
}
.hr1 {
margin: 0;
padding: 0;
height: 2px;
}

.button-square {
  padding: 10px 10px 10px 10px;
  background: #ef6e69;
}

#li {

  margin: 12px 24px 12px 24px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 17px;
}

.button-square2 {
  padding: 10px 10px 10px 10px;
  background: #f379a2;
}

.button-square3 {
  padding: 10px 10px 10px 10px;
  background: #9170cb;
}

.button-square4 {
  padding: 10px 10px 10px 10px;
  background: #5eb3f6;
}

.button-square5 {
  padding: 10px 10px 10px 10px;
  background: #67d7e5;
}

.button-square6 {
  padding: 10px 10px 10px 10px;
  background: #ffe083;
}


.ul-square {
  margin: 0;
  padding: 0;
  border: 2px solid #eee;
  list-style: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #f80303;
}

input.todo_text {
  padding: 10px 360px 10px 10px;
}

.checkbox_main {
  background: #f80303;
}

.todo_list-div {
  background: #f80303;
}

.checkbox1 {
  float: left;
  margin: 10px 10px 10px 10px;
  background-color: #c72626;
  
}

.added {
  background-color: #5eb3f6;
}
.todo {
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #eee;
  padding: 10px 20px;
}

.todo_text {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  color: #bbbbbb;
}
.todo_add {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  color: #eee;
}

.todo_add {

  margin: 5px 5px 5px 5px;
  background: green;
  border:2px solid green;
}

.todo_text {
  padding: 5px;
}

.todo_list {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
}

.todo_list-item {
  cursor: pointer;
  padding: 5px;
  line-height: 20px;
}

.todo_list-item:nth-child(even) {
  background-color: #eee;
}

.todo_controls {
margin: 5px 5px 5px 5px;
}

.h1-hide {
  font-family: Verdana, Arial, sans-serif;
  font-size: 32px;
  color: #c72626; 
}

.todo_list-item-text {
  display: inline-block;
  max-width: 720px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo_list-item-remove {
  float: right;
  opacity: 0.3;
  margin-left: 15px;
}

.todo_list-item-remove:hover {
  opacity: 1;
}