body {
  text-align: center;
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

div#list.todo {
  padding: 10px 10px 10px 10px;
}

li {
  margin-bottom: 5px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 17px;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
}

.hr1 {
  margin: 0;
  padding: 0;
  height: 2px;
}

.checkbox1 {
  margin: 14px 10px 10px 10px;
  float: left;
}

.li {
  position: relative;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 17px;
}

.button-square {
  position: absolute;
  margin: 13px 0 0 -180px;
  padding: 7px 7px 7px 7px;
  /* background-color: #ef6e69; */
}

.button-square2 {
  position: absolute;
  margin: 13px 0 0 -155px;
  padding: 7px 7px 7px 7px;
  /* background: #f379a2; */
}

.button-square3 {
  position: absolute;
  margin: 13px 0 10px -130px;
  padding: 7px 7px 7px 7px;
  /* background: #9170cb; */
}

.button-square4 {
  position: absolute;
  margin: 13px 0 10px -105px;
  padding: 7px 7px 7px 7px;
  /* background: #5eb3f6; */
}

.button-square5 {
  position: absolute;
  margin: 13px 0 10px -80px;
  padding: 7px 7px 7px 7px;
  /* background: #67d7e5; */
}

.button-square6 {
  position: absolute;
  margin: 13px 0 10px -55px;
  padding: 7px 7px 7px 7px;
  /* background: #ffe083; */
}

input.todo_text {
  padding: 10px 360px 10px 10px;
}

.checkbox_main {
  background: #f80303;
}

.todo_list-div {
  background: #f80303;
}

.todo {
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #eee;
  padding: 10px 20px;
}

.todo_text {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  color: #bbbbbb;
  padding: 5px;
}

.todo_add {
  font-family: Verdana, Arial, sans-serif;
  font-size: 15px;
  color: #eee;
  margin: 5px 5px 5px 5px;
  background: #26a59a;
  border: 2px solid #26a59a;
  padding: 5px 10px 5px 10px;
}

.todo_list {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
}